@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Edit";
}

<img src="~/Content/devColor.png" class="img-rounded" height="50" alt="devCodeCamp" />
<span class="pageTitle">@ViewBag.Title</span>

@using (Html.BeginForm())
{
    <table id="tbrole">
        <tr>
            <td class="c">Edit Role Name To be Created:</td>
            <td class="c">
                @Html.EditorFor(m => m.Users)
            </td>
        </tr>
    </table>
    <input type="submit" value="Update Role" />
}

