@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "User Roles";
}

<img src="~/Content/devColor.png" class="img-rounded" height="50" alt="devCodeCamp" />
<span class="pageTitle">@ViewBag.Title</span>


<table id="tbrole">
    <tr>
        <th>
            Role Name
        </th>
        <td>

        </td>
        <td>
            &nbsp;&nbsp;@Html.ActionLink("Create Role", "Create", "Role")
        </td>
        <td>
           
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="c">
                @Html.DisplayFor(model => item.Name)
                @*@item.Name*@
            </td>
            <td>

            </td>
            <td>
              
                &nbsp;&nbsp;@Html.ActionLink("Delete", "Delete", new { name = item.Id })
            </td>
            <td>
                
            </td>
        </tr>
    }
</table>

