@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Available Roles For Application</h2>




<table id="tbrole">
    <tr>
        <td>
            Role Name
        </td>
        <td>
            @Html.ActionLink("Create Role", "Create", "Role")
        </td>
        <td>
            
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="c">
                @Html.DisplayFor(model => item.Name)
                @*@item.Name*@
            </td>
            <td>
              
                @Html.ActionLink("Delete", "Delete", new { name = item.Id })
            </td>
            <td>
                
            </td>
        </tr>
    }
</table>

