@{
    ViewBag.Title = "devCodeCamp Alumni Network";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <p>Potential Recruiters and Hiring Partners - You can view our alumni's personal profiles, resumes, and projects.</p>
        <p>Alumni - you can login and chat with other alumni, collaborate on projects using our special collaboration area, and keep-in touch in general.</p>
        <p>From all of us here at devCodeCamp, we hope you enjoy this site and find it useful.</p>
    </div>
</div>
<br />

<hr />
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <p>On a side note (and a point of pride):<br />This website was created by alumni of devCodeCamp, specifically class Helium, as part of our final project.</p>
        <p>Team Members: Matt Runkle, Michael Kohlmann, and Ryan Roethle.</p>
        <p>It was created using Microsoft's Visual Studio 2013, ASP.NET MVC, Entity Framework, Microsoft SQL Server, HTML5, CSS3, Javascript and jQuery.</p>
        <p>If you have any questions regarding it, we would be happy to discuss it.</p>
    </div>
</div>

@using (Html.BeginForm("ImageUpload", "Home",
      FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>Please select an image to upload</div>
    <input name="image" type="file">
    <input type="submit" value="Upload Image" />
}

@using (Html.BeginForm("ResumeUpload", "Home",
      FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>Please select an image to upload</div>
    <input name="image" type="file">
    <input type="submit" value="Upload Resume" />
}
