@{
    ViewBag.Title = "Contact";
}

<img src="~/Content/devColor.png" class="img-rounded" height="50" alt="devCodeCamp" />
<span class="pageTitle">@ViewBag.Title</span>
@*<h3>@ViewBag.Message</h3>*@
<br />

<br />
<address>
    <strong>devCodeCamp:</strong>   <a href="mailto:hello@devcodecamp.com ">hello@devcodecamp.com </a><br />
</address>
<address>
    <abbr title="Phone"><strong>P:</strong></abbr>
    262.901.1406<br />
    <br />
    <strong>Milwaukee, WI Location</strong><br />
    333 North Plankinton Ave<br />
    Milwaukee, WI 53203<br />
    <br />
    <strong>Brookfield, WI Location</strong><br />
    20633 Watertown Court<br />
    Waukesha, WI 53186<br />

</address>

