@model IEnumerable<DCC_PortfolioSite.Models.ContactProfile>

@{
    ViewBag.Title = "Alumni Network";
}



<div class="row">
    <div class="corner_radius col-xs-12 col-sm-10 col-sm-offset-1 text-center mysterySplash">
        <img src="~/Content/devColor.png" class="img-rounded" height="100" alt="devCodeCamp" />
        <h1 id="splashTitle">devCodeCamp</h1>
        <div id="splashSubContainer">
            <h2 class="splashSub">public Developer alumniNetwork()</h2>
            <h2 class="splashSub">{</h2>
            <div id="searchBox">
                @using (Html.BeginForm("Search", "Home"))
                {
                    <span class="splashSearchText">return </span>@Html.TextBox("tb_SearchBox", null, new { placeholder = "Search All" });
                    <button type="submit" class="btn btn-default splashSub"><span class="glyphicon glyphicon-search"></span> searchProfiles</button><span class="splashSearchText"> ;</span>
                }
            </div>
            <h2 class="splashSub">}</h2>
        </div>
        <br /><br />
        <br />
    </div>
</div>
@if (Model != null)
{
    <div class="row">
        <div id="SearchResults" class="corner_radius  col-sm-10 col-sm-offset-1">
            <div class="SearchResultsCarousel">
                @foreach (var item in Model)
                {
                    <a href="~/UserProfile/Index/@item.ProfileId">
                        <center>
                            <div class="searchCarouselTile" style="background-image: url('@item.Photo')">
                                @{
                    string FullName = item.FirstName + " " + item.LastName;
                    <span class="emptyTileAlignToBottom"></span>
                                    <span class="label label-default" style="font-size:small">@FullName</span>
                                }
                        </center>
                    </a>
                }
            </div>
        </div>
    </div>
}