@model DCC_PortfolioSite.Models.UserProfileViewModels

<div>
    <h4>Resume of @Model.FullName</h4>
    <hr />
    @*<iframe src=@Model.ResumeHtmlUpload></iframe>*@
    <iframe src=@Model.ResumeHtmlUpload width="750" height="600"></iframe>
</div>
