@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="ProfileCarousel">
        <div id="ProfileTile" class="col-sm-12">
            @Html.Partial("_ProfilePartialView")
        </div>
        <div id="ProjectTile" class="col-sm-12">
            @Html.Partial("_ProjectPartialView")
        </div>
        <div id="ResumeTile" class="col-sm-12">
            @Html.Partial("_ResumePartialView")
        </div>
    </div>
</div>

