@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <br />
    <div class="ProfileCarousel carousel_background corner_radius col-xs-12 col-sm-10 col-sm-offset-1">
        <div id="ProfileTile" class="col-xs-12 col-sm-10">
            @Html.Partial("_ProfilePartialView")
        </div>
        <div id="ProjectTile" class="col-xs-12 col-sm-10">
            @Html.Partial("_ProjectPartialView")
        </div>
        <div id="ResumeTile" class="col-xs-12 col-sm-10">
            @Html.Partial("_ResumePartialView")
        </div>
    </div>
</div>

