.inputLabel {
    background: #ddd;
    text-align: right;
    padding: 3%;
    width: 150px;
}

.inputData { 
    font-size: 1.15em;
    font-weight: bold;
    padding: 3%;
}

.editData {
    padding: 3%;
}

.adminLink {
    font-size: 1.15em;
}

.sectionHead {
    margin-top: 8%;
    margin-bottom: -3%;
}

.filePath {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.adminContainer {
    max-width: 70%;
    margin: auto;
    margin-top: 1%;
    padding: 5%;
    overflow: auto;
    box-shadow: #222 0 0 20px;
}

.headerDiv {
    height: 10%;
}

/*.row {
    background: orange;
}

.mysterySplash {
    background: pink;
}*/

#splashSubContainer {
    /*background: green;*/
    padding-left: 15%;
    margin: auto;
}

#searchBox {
    text-align: left;
    padding-left: 5%;
}

.splashSub {
    font-family: 'Inconsolata', sans-serif;
    text-align: left;
    /*padding-left: 10px;*/
}

.splashSearchText {
    font-family: 'Inconsolata', sans-serif;
    font-size: 1.65em;
}

#splashTitle {
    font-family: 'Orbitron', sans-serif;
    font-size: 5em;
}