.inputLabel {
    background: #ddd;
    text-align: right;
    padding: 3%;
    width: 150px;
}

.inputData { 
    font-size: 1.15em;
    font-weight: bold;
    padding: 3%;
}

.editData {
    padding-left: 3%;
}

.adminLink {
    font-size: 1.15em;
    margin-top: 5%;
}

.sectionHead {
    margin-top: 8%;
    font-family: 'Orbitron', sans-serif;
}

.filePath {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.adminContainer {
    max-width: 55%;
    margin: auto;
    margin-top: 1%;
    padding: 5%;
    overflow: auto;
    box-shadow: #222 0 0 20px;
    background-color: rgba(238, 238, 238, 0.95);
}

.headerDiv {
    height: 10%;
}


#splashSubContainer {
    padding-left: 15%;
    margin: auto;
}

#searchBox {
    text-align: left;
    padding-left: 5%;
}

.splashSub {
    font-family: 'Inconsolata', sans-serif;
    text-align: left;
}

.splashSearchText {
    font-family: 'Inconsolata', sans-serif;
    font-size: 1.65em;
}

#splashTitle {
    font-family: 'Orbitron', sans-serif;
    font-size: 5em;
}

.splashImage {
    margin-bottom: 5%;
}

.pageTitle {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.6em;
}

.aboutSectionBreak {
    text-align: center;
    margin-top: 5%;
}

#aboutTeamInfo {
    text-align: left;
    font-size: .75em;
}

.navbarTitle {
    font-family: 'Orbitron', sans-serif;
}

.popUp {
    background-image: none;
}

.devCodeFont {
    font-family: 'Orbitron', sans-serif;
}