@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    #splashTitle {
        visibility: hidden;
    }

    .adminContainer {
        max-width: 90%;
    }

    #splashContainer {
        padding-top: 10%;
    }
}
