/* all starting at iPad */
@media screen and (max-width: 1024px) { 

    #splashTitle {
        display: none;
    }

    #aboutTitle {
        display: none;
    }

    .adminContainer {
        max-width: 90%;
    }

    #splashContainer {
        padding-top: 10%;
    }

    .navbarTitle {
        font-size: 1em;
    }

    .splashImage {
        margin: 15%;
        height: 150px;
    }

    .footerImage {
        height: 10px;
    }
}

/* for phone */
@media screen and (max-width: 480px) {
    .navbarTitle {
        font-size: .9em;
    }

    .devCodeFont {
        font-family: 'Orbitron', sans-serif;
    }
}

/* for iPad */
@media screen
    and (min-width: 768px)
    and (max-width: 1024px) {

    #splashTitle {
        display: inline;
    }

    .pageTitle {
        display: inline;
        font-size: 2.5em;
    }

    .splashImage {
        margin: 2%;
        height: 125px;
    }
}