body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dark_background{
    background-color: #444444
}

.carousel_background{
    background-color: #000000
}

.light_background{
    background-color: #EEEEEE
}

.corner_radius{
    border-radius: 3%
}

.page_text_color{
    color:#eeeeee
}

.search_icon_button{
     background: url("search-icon.png") no-repeat top left;
     width: 42px;
     height: 30px;
     text-indent: -9999px; /* hides the link text */
}

.media img+span.badge {
    position: relative;
    top: -20px;
    left: -2px;
}

.responsiveIframe {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: auto; 
-webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
border: solid black 1px;
} 
.responsiveIframe iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}