body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('class-shot-1-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dark_background{
    background-color: #444444
}

.carousel_background{
    background-color: #000000
}

.light_background{
    background-color: #EEEEEE
}

.corner_radius{
    border-radius: 3%
}

.page_text_color{
    color:#eeeeee
}



/* To expand the iFrame holding the resume*/
.responsiveIframe {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: auto; 
-webkit-overflow-scrolling:touch; /*<<--- THIS IS THE KEY */
border: solid black 1px;
} 
.responsiveIframe iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* To center Thumbails in Carousel*/
.thumbnails {
    align-self:center;
    display: inline-block;
    float: none; /* this is the part that makes it work */
}

/* To Align images on project summary page */
.img_upper_left {
    left :0px;
    vertical-align: top;
    margin: 10px;
}
.img_lower_right {
    right: 0px;
    vertical-align: bottom;
    margin: 10px;
}


.name_badge{
    position:absolute;
    align-content: center;
    bottom:0
}