@model DCC_PortfolioSite.Models.AdminViewModel

<div>
    <hr />
    <table>
        <tr>
            <td class="inputLabel">Existing @Html.DisplayNameFor(model => model.UserResume.HtmlUpload)</td>
            <td class="editData">@Html.TextBoxFor(model => model.UserResume.HtmlUpload)</td>
        </tr>
    </table>
</div>

@using (Html.BeginForm("ResumeUpload", "Admin",
      FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <div>
        <table>
            <tr>
                <td class="inputLabel">Select PDF file</td>
                <td class="editData">
                    <input name="resume" class="btn btn-default" type="file">
                    <input type="submit" class="btn btn-default" value="Upload Resume" />
                </td>
            </tr>
        </table>
    </div>
}
