@model DCC_PortfolioSite.Models.AdminViewModel

<div>
    <hr style="border-color: #AAA; border-style: dashed" />
    <table>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => model.UserResume.HtmlUpload)</td>
            
            <td class="inputData">
                @if (Model.UserResume.ResumeImg != null)
                {<iframe class="container-fluid" src=@Url.Action("GetResumeImg", "UserProfile", new { ResumeId = Model.UserResume.UserResumeID }) alt="Image" height='200' width='200'></iframe> }</td>
               
        </tr>
    </table>
</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
