@model DCC_PortfolioSite.Models.AdminViewModel

<div>
    <hr />
    <table>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => model.UserResume.HtmlUpload)</td>
            <td class="inputData filePath">@Html.TextBoxFor(model => model.UserResume.HtmlUpload, new { @readonly = "readonly" })</td>
        </tr>
    </table>
</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
