@model DCC_PortfolioSite.Models.UserResume

<div>
    <hr />
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HtmlUpload)</td>
            <td>@Html.TextBoxFor(model => model.HtmlUpload)</td>
        </tr>
    </table>
</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
