@model DCC_PortfolioSite.Models.AdminViewModel

<div>
    <hr />
    <table>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => model.UserResume.HtmlUpload)</td>
            <td class="editData">@Html.TextBoxFor(model => model.UserResume.HtmlUpload)</td>
        </tr>
    </table>
</div>

@using (Html.BeginForm("ResumeUpload", "Admin",
      FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="resume">Select PDF file</label>
    <input name="resume" type="file">
    <input type="submit" value="Upload Resume" />
}