@model DCC_PortfolioSite.Models.UserResume

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HtmlUpload)
            @Html.TextBoxFor(model => model.HtmlUpload)
        </dt>
    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
