@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityUser>




@{
    ViewBag.Title = "User List";
}

<img src="~/Content/devColor.png" class="img-rounded" height="50" alt="devCodeCamp" />
<span class="pageTitle">@ViewBag.Title</span>

<table id="tbrole">
    <tr>
        <th>
            User Name
        </th>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.UserName)
                @*@item.Name*@
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index", "Manage")
</div>

