<footer class="footer">
    <div class="container">
        <p class="text-muted"><a href="http://www.devCodeCamp.com" target="_blank"><img src="~/Content/devLogo-white-long100H1.png" class="img-rounded" height="40" alt="devCodeCamp"/></a></p>
    </div>
</footer>
